@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lobster Two', sans-serif;
  font-size: 2rem;
}
.container {
  background-color: white;
  border-radius: 12px;
  height: 600px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.text1 {
  padding: 16px 0 16px 0;
  position: absolute;
  top: 20%;
  width: max-content;
  left: 0;
  animation: moveToLeft 12s linear infinite forwards;
}
.text1:hover {
  cursor: pointer;
  animation-play-state: paused;
}
.text2 {
  padding: 16px 0 16px 0;
  position: absolute;
  width: max-content;
  bottom: 20%;
  right: 0;
  animation: moveToRight 12s linear infinite forwards;
}
.text2:hover {
  cursor: pointer;
  animation-play-state: paused;
}
@keyframes moveToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes moveToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
